# Goldstone Docker Compose Configuration

# Elasticsearch Container
elasticsearch:
  image: elasticsearch:1.5
  volumes:
    - config/elasticsearch:/usr/share/elasticsearch/config
    # Mount a local volume for data
    #- "$PWD/data/es":/usr/share/elasticsearch/data
  ports:
    - "9200:9200"
    - "9300:9300"

# PostgreSQL Container
postgres:
  image: postgres:9.4
  env_file: config/postgres/pgsql.env
  volumes_from:
    - pgdvc
  ports:
    - "5432:5432"

# PostgreSQL Data Container
pgdvc:
  image: solinea/postgres-data:latest
  volumes:
    - /var/lib/postgresql/data

# Redis container
#redis:
#  image: solinea/goldstone-redis
#  ports:
#    - "6379:6379"

# Apache Container
# apache/mod_wsgi
#apache:
#  image: centos/httpd
#  ports:
#    - "80:80"

# logstash container
logstash:
  image: solinea/logstash
  command: logstash -f /logstash/conf.d -w 1
  volumes:
    - config/logstash/conf.d:/logstash/conf.d
    - config/logstash/patterns:/opt/logstash/patterns
  ports:
    - "5514:5514"
    - "5515:5515"
    - "5516:5516/udp"
    - "5517:5517/udp"
  links:
    - elasticsearch
    - elasticsearch:es
