# Goldstone Docker Compose Configuration

# elasticsearch container
elasticsearch:
  image: solinea/goldstone-elasticsearch
  ports:
    - "9200:9200"
    - "9300:9300"

# PostgreSQL
postgres:
  image: openshift/postgresql-92-centos7
  ports:
    - "5432:5432"
  env_file: environment/pgsql.env
  volumes:
    - /var/lib/pgsql/data

# Redis container
redis:
  image: solinea/goldstone-redis
  ports:
    - "6379:6379"

# Apache Container
# apache/mod_wsgi
apache:
  image: centos/httpd
  ports:
    - "80:80"

# logstash container
logstash:
  image: solinea/goldstone-logstash
  ports:
    - "5514:5514"
    - "5515:5515"
    - "5516/udp:5516/udp"
    - "5515/udp:5515/udp"
  links:
    - elasticsearch
    - elasticsearch:es
